In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from new_or_used import build_dataset

In [14]:
X_train, y_train, X_test, y_test = build_dataset()

In [15]:
X_train_df = pd.DataFrame(X_train)
X_test_df = pd.DataFrame(X_test)
y_train_df = pd.Series(y_train)
y_test_df = pd.Series(y_test)

# EDA

## Understanding data structure

### Features

In [ ]:
X_train_df.columns

Index(['seller_address', 'warranty', 'sub_status', 'condition', 'deal_ids',
       'base_price', 'shipping', 'non_mercado_pago_payment_methods',
       'seller_id', 'variations', 'site_id', 'listing_type_id', 'price',
       'attributes', 'buying_mode', 'tags', 'listing_source', 'parent_item_id',
       'coverage_areas', 'category_id', 'descriptions', 'last_updated',
       'international_delivery_mode', 'pictures', 'id', 'official_store_id',
       'differential_pricing', 'accepts_mercadopago', 'original_price',
       'currency_id', 'thumbnail', 'title', 'automatic_relist', 'date_created',
       'secure_thumbnail', 'stop_time', 'status', 'video_id',
       'catalog_product_id', 'subtitle', 'initial_quantity', 'start_time',
       'permalink', 'sold_quantity', 'available_quantity'],
      dtype='object')

In [ ]:
X_train_df.sample(5)  # Display a sample of the training data

,seller_address,warranty,sub_status,condition,deal_ids,base_price,shipping,non_mercado_pago_payment_methods,seller_id,variations,site_id,listing_type_id,price,attributes,buying_mode,...,thumbnail,title,automatic_relist,date_created,secure_thumbnail,stop_time,status,video_id,catalog_product_id,subtitle,initial_quantity,start_time,permalink,sold_quantity,available_quantity
59587,"{'country': {'name': 'Argentina', 'id': 'AR'},...",Es original,[],used,[],60.00,"{'local_pick_up': True, 'methods': [], 'tags':...",[],7732535781,[],MLA,free,60.00,[],buy_it_now,...,http://mla-s1-p.mlstatic.com/22936-MLA46927320...,Moneda De Un Centavo Argentina Año 1884,False,2015-09-04T16:22:41.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,1446567761000,active,None,NaN,None,1,1441383761000,http://articulo.mercadolibre.com.ar/MLA4692732...,0,1
34722,"{'country': {'name': 'Argentina', 'id': 'AR'},...",None,[],used,[],1700.00,"{'local_pick_up': False, 'methods': [], 'tags'...",[],8096270142,[],MLA,gold_premium,1700.00,"[{'value_id': 'CAPPERSO-4', 'attribute_group_i...",classified,...,http://mla-s2-p.mlstatic.com/9275-MLA800616244...,Quinta Pileta Y Cancha De Tenis,False,2015-02-08T21:38:53.000Z,https://a248.e.akamai.net/mla-s2-p.mlstatic.co...,1447567486529,active,None,NaN,None,1,1423431533000,http://casa.mercadolibre.com.ar/MLA8006162442-...,0,1
27573,"{'country': {'name': 'Argentina', 'id': 'AR'},...",None,[],new,[],130.00,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",7884138892,[],MLA,bronze,130.00,[],buy_it_now,...,http://mla-s2-p.mlstatic.com/743701-MLA2586391...,Elf Brocha Para Difuminar Ojos Crease Brush,False,2015-08-18T17:40:43.000Z,https://a248.e.akamai.net/mla-s2-p.mlstatic.co...,1445103643000,paused,None,NaN,None,1,1439919643000,http://articulo.mercadolibre.com.ar/MLA2586391...,0,1
37186,"{'country': {'name': 'Argentina', 'id': 'AR'},...","Local a la calle, con mas de 30 años de experi...",[],new,[],902.00,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",2183488158,[],MLA,bronze,902.00,"[{'value_id': '', 'attribute_group_id': 'DFLT'...",buy_it_now,...,http://mla-s1-p.mlstatic.com/16749-MLA83745786...,Amortiguador Delantero Fiat Marea Todos,False,2015-09-29T20:43:18.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,1448743397000,active,None,NaN,None,8,1443559397000,http://articulo.mercadolibre.com.ar/MLA8374578...,2,8
72724,"{'country': {'name': 'Argentina', 'id': 'AR'},...",DE CALIDAD. MIRA MIS CALIFICACIONES Y COMENTAR...,[],new,[],219.99,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",2983886656,[],MLA,gold,219.99,[],buy_it_now,...,http://mla-s1-p.mlstatic.com/4046-MLA435556924...,Corbatas Importadas Seda Jacquard Top #~#444,False,2015-08-19T20:33:46.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,1445200426000,active,None,NaN,None,6,1440016426000,http://articulo.mercadolibre.com.ar/MLA4355569...,14,6

In [ ]:
# There are too many columns to display all at once, so we will show a subset
X_train_df[['buying_mode', 'tags', 'listing_source', 'parent_item_id',
       'coverage_areas', 'category_id', 'descriptions', 'last_updated',
       'international_delivery_mode', 'pictures', 'id', 'official_store_id',
       'differential_pricing', 'accepts_mercadopago', 'original_price',
       'currency_id', 'thumbnail']].sample(5)

,buying_mode,tags,listing_source,parent_item_id,coverage_areas,category_id,descriptions,last_updated,international_delivery_mode,pictures,id,official_store_id,differential_pricing,accepts_mercadopago,original_price,currency_id,thumbnail
85140,buy_it_now,[dragged_bids_and_visits],,MLA5040216364,[],MLA60595,[{'id': 'MLA4931751761-929756542'}],2015-10-01T13:19:56.000Z,none,"[{'size': '377x250', 'secure_url': 'https://a2...",MLA4931751761,NaN,None,True,NaN,ARS,http://mla-s1-p.mlstatic.com/17026-MLA49317517...
46130,auction,[],,MLA7882422497,[],MLA41287,[{'id': 'MLA7281577948-944105691'}],2015-10-14T11:00:35.000Z,none,"[{'size': '280x500', 'secure_url': 'https://a2...",MLA7281577948,NaN,None,True,NaN,ARS,http://mla-s2-p.mlstatic.com/300401-MLA7281577...
47440,buy_it_now,[dragged_bids_and_visits],,MLA8500974149,[],MLA37759,[{'id': 'MLA6100979825-912197108'}],2015-10-13T22:14:51.000Z,none,"[{'size': '375x500', 'secure_url': 'https://a2...",MLA6100979825,NaN,None,True,NaN,ARS,http://mla-s2-p.mlstatic.com/626401-MLA6100979...
605,buy_it_now,[],,None,[],MLA45672,[{'id': 'MLA3204639461-905879115'}],2015-10-14T00:00:56.000Z,none,"[{'size': '370x370', 'secure_url': 'https://a2...",MLA3204639461,NaN,None,True,NaN,ARS,http://mla-s2-p.mlstatic.com/638801-MLA3204639...
26575,buy_it_now,[dragged_bids_and_visits],,MLA6519258229,[],MLA31907,[{'id': 'MLA9493094857-942374957'}],2015-10-11T21:21:27.000Z,none,"[{'size': '320x240', 'secure_url': 'https://a2...",MLA9493094857,NaN,None,True,NaN,ARS,http://mla-s1-p.mlstatic.com/13574-MLA94930948...

Probably, `condition` feature should be deleted because it's the actual target. This hypotesis have to be checked first.

`international_delivery_mode` has a wrong 'none' value so it needs to be corrected.

In [ ]:
X_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 45 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   seller_address                    90000 non-null  object
 1   warranty                          35243 non-null  object
 2   sub_status                        90000 non-null  object
 3   condition                         90000 non-null  object
 4   deal_ids                          90000 non-null  object
 5   base_price                        90000 non-null  float64
 6   shipping                          90000 non-null  object
 7   non_mercado_pago_payment_methods  90000 non-null  object
 8   seller_id                         90000 non-null  int64
 9   variations                        90000 non-null  object
 10  site_id                           90000 non-null  object
 11  listing_type_id                   90000 non-null  object
 12  price                             90000 non-null  float64
 13  attributes                        90000 non-null  object
 14  buying_mode                       90000 non-null  object
 15  tags                              90000 non-null  object
 16  listing_source                    90000 non-null  object
 17  parent_item_id                    69310 non-null  object
 18  coverage_areas                    90000 non-null  object
 19  category_id                       90000 non-null  object
 20  descriptions                      90000 non-null  object
 21  last_updated                      90000 non-null  object
 22  international_delivery_mode       90000 non-null  object
 23  pictures                          90000 non-null  object
 24  id                                90000 non-null  object
 25  official_store_id                 745 non-null    float64
 26  differential_pricing              0 non-null      object
 27  accepts_mercadopago               90000 non-null  bool
 28  original_price                    130 non-null    float64
 29  currency_id                       90000 non-null  object
 30  thumbnail                         90000 non-null  object
 31  title                             90000 non-null  object
 32  automatic_relist                  90000 non-null  bool
 33  date_created                      90000 non-null  object
 34  secure_thumbnail                  90000 non-null  object
 35  stop_time                         90000 non-null  int64
 36  status                            90000 non-null  object
 37  video_id                          2676 non-null   object
 38  catalog_product_id                7 non-null      float64
 39  subtitle                          0 non-null      object
 40  initial_quantity                  90000 non-null  int64
 41  start_time                        90000 non-null  int64
 42  permalink                         90000 non-null  object
 43  sold_quantity                     90000 non-null  int64
 44  available_quantity                90000 non-null  int64
dtypes: bool(2), float64(5), int64(6), object(32)
memory usage: 29.7+ MB

#### Nulls analysis

For some variables, we have missing values.

**Some nulls:**
1. `parent_item_id` (23.0%)
1. `warranty` (60.8%)

**Almost empty:**
1. `video_id` (97.0%)
1. `official_store_id` (99.2%)
1. `original_price` (99.9%)
1. `catalog_product_id` (~100%)

**No data:**
1. `differential_pricing`
1. `subtitle`

At a first glance, it looks like many features are null but have some content '[]', so they'll not be displayed as null by `.info()`.

In [ ]:
X_train_df['sub_status'].describe()

count     90000
unique        4
top          []
freq      89109
Name: sub_status, dtype: object

In [31]:
# Flatten all tag lists and get unique tag values
unique_substatus = set(substatus for substatus_list in X_train_df['sub_status'] for substatus in substatus_list)
print(unique_substatus)

{'expired', 'suspended', 'deleted'}

In [ ]:
X_train_df['deal_ids'].describe()

count     90000
unique       31
top          []
freq      89783
Name: deal_ids, dtype: object

In [17]:
X_train_df['variations'].describe()

count     90000
unique     7375
top          []
freq      82626
Name: variations, dtype: object

In [ ]:
X_train_df['attributes'].describe()

count     90000
unique     3118
top          []
freq      78850
Name: attributes, dtype: object

In [ ]:
X_train_df['tags'].describe()

count                         90000
unique                            8
top       [dragged_bids_and_visits]
freq                          65315
Name: tags, dtype: object

In [29]:
# Flatten all tag lists and get unique tag values
unique_tags = set(tag for tags_list in X_train_df['tags'] for tag in tags_list)
print(unique_tags)

{'free_relist', 'poor_quality_thumbnail', 'good_quality_thumbnail', 'dragged_visits', 'dragged_bids_and_visits'}

It seems we only have 5 relevant values for 'tags'.

So, it's plausible to assume that the remaining 3 appearing values are related with an empty field (NaN).

It'll be explored later.

In [ ]:
X_train_df['listing_source'].describe()

count     90000
unique        1
top
freq      90000
Name: listing_source, dtype: object

In [ ]:
X_train_df['coverage_areas'].describe()

count     90000
unique        1
top          []
freq      90000
Name: coverage_areas, dtype: object

It's been verified that most of these features has '[]' instead of 'NaN'. It has to be modified.

***Conflictive Features:*** coverage_areas, listing_source, tags, attributes, variations, deal_ids, sub_status

Both `listing_source` and `coverage_areas` are completely empty. The others have between 87% up to 99% nulls.

---

#### Variables distribution

In [ ]:
# Descriptive statistics for numeric features
X_train_df.describe(include='number')

,base_price,seller_id,price,official_store_id,original_price,stop_time,catalog_product_id,initial_quantity,start_time,sold_quantity,available_quantity
count,9.000000e+04,9.000000e+04,9.000000e+04,745.000000,130.000000,9.000000e+04,7.000000e+00,90000.000000,9.000000e+04,90000.000000,90000.000000
mean,5.781341e+04,5.487386e+09,5.781352e+04,5802.018792,1492.522308,1.447648e+12,2.895700e+06,34.957178,1.442383e+12,2.328044,34.700767
std,9.089555e+06,2.587140e+09,9.089555e+06,2657.056302,1954.905741,3.251040e+09,1.919771e+06,421.091981,2.122683e+09,33.839328,420.811703
min,8.400000e-01,1.000319e+09,8.400000e-01,1024.000000,120.000000,1.444823e+12,9.440400e+04,1.000000,1.369110e+12,0.000000,1.000000
25%,9.000000e+01,3.184875e+09,9.000000e+01,3590.000000,449.000000,1.446313e+12,1.925518e+06,1.000000,1.441144e+12,0.000000,1.000000
50%,2.500000e+02,5.512496e+09,2.500000e+02,6158.000000,850.000000,1.447643e+12,3.051112e+06,1.000000,1.442524e+12,0.000000,1.000000
75%,8.000000e+02,7.704930e+09,8.000000e+02,8216.000000,1500.000000,1.448930e+12,4.073615e+06,2.000000,1.443800e+12,0.000000,2.000000
max,2.222222e+09,9.999853e+09,2.222222e+09,9996.000000,12248.000000,1.730732e+12,5.126117e+06,9999.000000,1.444900e+12,6065.000000,9999.000000

**Observations:**

In [ ]:
# Descriptive statistics for string features
# Due to the large number of columns and rows, we will sample a subset of the data
X_train_df.sample(int(len(X_train_df)*0.2)).describe(include='object') # pd.describe() for 'objects' is a time consuming process

,seller_address,warranty,sub_status,condition,deal_ids,shipping,non_mercado_pago_payment_methods,variations,site_id,listing_type_id,attributes,buying_mode,tags,listing_source,parent_item_id,...,descriptions,last_updated,international_delivery_mode,pictures,id,differential_pricing,currency_id,thumbnail,title,date_created,secure_thumbnail,status,video_id,subtitle,permalink
count,18000,7023,18000,18000,18000,18000,18000,18000,18000,18000,18000,18000,18000,18000,13926,...,18000,18000,18000,18000,18000,0,18000,18000,18000,18000,18000,18000,551,0,18000
unique,1746,2817,4,2,8,19,89,1458,1,7,668,3,6,1,13926,...,17504,17817,1,17860,18000,0,2,17854,17925,17494,17854,3,438,0,18000
top,"{'country': {'name': 'Argentina', 'id': 'AR'},...",Sí,[],new,[],"{'local_pick_up': True, 'methods': [], 'tags':...",[],[],MLA,bronze,[],buy_it_now,[dragged_bids_and_visits],,MLA3336455118,...,[],2015-10-06T15:53:00.000Z,none,[],MLA4304326838,NaN,ARS,,50 Suspensores Para Short De Baño Tela Calada,2015-09-17T05:04:22.000Z,,active,QQNfOicE_o8,NaN,http://articulo.mercadolibre.com.ar/MLA4304326...
freq,683,1017,17836,9699,17972,7529,5409,16543,18000,11435,15797,17476,13166,18000,1,...,497,3,18000,141,1,NaN,17904,141,15,4,141,17203,51,NaN,1

**Observations:**

* **Price Discrepancy & Outliers**: The `base_price` and `price` columns show extreme outliers and a heavily right-skewed distribution, where the majority of products are inexpensive, but a few are exceptionally high-priced.
* **Seller Diversity**: The dataset covers a wide range of sellers.
* **Lack of Official Store & Catalog Data**: Most products are not from official stores nor linked to specific catalog product IDs, indicating a diverse marketplace with many independent sellers and general listings.
* **Sparse Discount Information**: `original_price` is rarely recorded, suggesting that discounts aren't a primary feature in the majority of these listings.
* **Inventory & Sales Distribution**: While most listings have low initial and available quantities and sell few items, there are some high-volume listings that significantly impact the average `initial_quantity`, `sold_quantity`, and `available_quantity`. This suggests a "power law" distribution typical of sales data, where a small percentage of listings account for a large percentage of sales.

In [20]:
X_train_df['status'].unique()

array(['active', 'paused', 'closed', 'not_yet_active'], dtype=object)

In [ ]:
X_train_df['status'].describe()

count      90000
unique         4
top       active
freq       86116
Name: status, dtype: object

#### Unique values

In [ ]:
def create_unique_value_lists(df: pd.DataFrame) -> dict:
    """
    Creates a dictionary of unique values for each column in a DataFrame,
    but only if the number of unique values in a column is less than 16.

    Args:
        df: The input pandas DataFrame.

    Returns:
        A dictionary where keys are column names and values are lists of
        unique values for those columns, subject to the condition.
    """
    unique_values_dict = {}
    for column in df.columns:
        # Check if the column contains dictionaries or other unhashable types
        # and convert them to strings for unique() to work.
        # This is a robust way to handle mixed types or potential unhashable objects.
        if df[column].apply(lambda x: isinstance(x, (dict, list, set))).any():
            unique_vals = df[column].astype(str).unique()
        else:
            unique_vals = df[column].unique()

        if len(unique_vals) < 16:
            unique_values_dict[column] = unique_vals.tolist()
    return unique_values_dict

In [44]:
# Get unique values for each column with less than 16 unique values
filtered_unique_values = create_unique_value_lists(X_train_df)
filtered_unique_values = sorted(filtered_unique_values.items(), key=lambda x: len(x[1]), reverse=False)

print("Unique values (with less than 16 possibilities):")
for col, values in filtered_unique_values:
    print(f"Column '{col}': {values}")

Unique values (with less than 16 possibilities):
Column 'site_id': ['MLA']
Column 'listing_source': ['']
Column 'coverage_areas': ['[]']
Column 'international_delivery_mode': ['none']
Column 'differential_pricing': [None]
Column 'subtitle': [None]
Column 'condition': ['new', 'used']
Column 'accepts_mercadopago': [True, False]
Column 'currency_id': ['ARS', 'USD']
Column 'automatic_relist': [False, True]
Column 'buying_mode': ['buy_it_now', 'classified', 'auction']
Column 'sub_status': ['[]', "['suspended']", "['expired']", "['deleted']"]
Column 'status': ['active', 'paused', 'closed', 'not_yet_active']
Column 'listing_type_id': ['bronze', 'silver', 'free', 'gold_special', 'gold', 'gold_premium', 'gold_pro']
Column 'tags': ["['dragged_bids_and_visits']", '[]', "['good_quality_thumbnail', 'dragged_bids_and_visits']", "['good_quality_thumbnail']", "['dragged_visits']", "['dragged_visits', 'free_relist']", "['poor_quality_thumbnail', 'dragged_bids_and_visits']", "['poor_quality_thumbnail']"]
Column 'catalog_product_id': [nan, 800744.0, 5093232.0, 3050291.0, 5126117.0, 94404.0, 3051112.0, 3053998.0]

**Observations:**
- It looks like `tags` work as a list of strings that specify every tag that applies to that item.
- It appears that `site_id` is always 'MLA' or NaN.
- Some are binary features: `condition`, `currency_id`, `automatic_relist`
- `catalog_product_id` is almost empty (just a few items with data).

### Target variable

In [18]:
# Target variable distribution
y_train_df.describe()

count     90000
unique        2
top         new
freq      48352
dtype: object

In [19]:
X_train_df['condition'].describe()

count     90000
unique        2
top         new
freq      48352
Name: condition, dtype: object

In [51]:
detected = False
for i, row in enumerate(X_train_df['condition']):
    if row == y_train_df.iloc[i]:
        pass
    else:
        print(f"Mismatch at index {i}:", row)
        detected = True
if not detected:
    print("No mismatches detected between 'condition' and target variable.")

No mismatches detected between 'condition' and target variable.

As we verified, the column `condition` is effectively the target value. We will remove it from dataset.

In [55]:
X_test_df.columns

Index(['seller_address', 'warranty', 'sub_status', 'deal_ids', 'base_price',
       'shipping', 'non_mercado_pago_payment_methods', 'seller_id',
       'variations', 'site_id', 'listing_type_id', 'price', 'attributes',
       'buying_mode', 'tags', 'listing_source', 'parent_item_id',
       'coverage_areas', 'category_id', 'descriptions', 'last_updated',
       'international_delivery_mode', 'pictures', 'id', 'official_store_id',
       'differential_pricing', 'accepts_mercadopago', 'original_price',
       'currency_id', 'thumbnail', 'title', 'automatic_relist', 'date_created',
       'secure_thumbnail', 'stop_time', 'status', 'video_id',
       'catalog_product_id', 'subtitle', 'initial_quantity', 'start_time',
       'permalink', 'sold_quantity', 'available_quantity'],
      dtype='object')

Actually, it should've been removed by the `new_or_used.py` script, but it seems that feature was forgotten for the test split.

The `build_dataset()` function should be fixed to delete it previously.

In [56]:
# Remove 'condition' column as it is the target variable
del X_train_df['condition']